
<div class="container">
    <br>
    <h2>Budget Tracker SPA</h2>
    <a [routerLink]="['/user/createNewUser']"> 
      <button class="btn btn-primary"> Add New User </button>
    </a>
    <br>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td><a [routerLink]="[ '/user/details/']" [queryParams]="{userId : user.id}">{{user.fullName}}</a></td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-success" [routerLink]="[ '/user/update/']" [queryParams]="{userId : user.id, joinDate : user.joinedOn}">Edit</button>
              <button class="btn btn-danger" (click)="delete(user.id)">Delete</button>
            <td>
          </tr>
        </tbody>
      </table>
</div>
